.title {
    font-family: monospace, Courier New, Courier;
    text-align: center;
    color: white;
    font-weight: normal;
    
}

body {
    background-color: black;
    text-align: center;
    margin: 0 auto;
}

.bars {
    color: gold;
}

.mainlinks {
    position: fixed;
    top: 40%;
    left: 30%;
    right: 30%;
}

a {
    color: white;
    text-decoration: none
}

p {
    font-size: 1.5em;
    font-family: monospace, Courier New, Courier;
}

